<nav class="nav-container">
    <h1 id="logo"><img src="/images/gec.png" alt="gec" class="links"></h1>
    <div class="hamburger">
        <span class="lines"></span>
        <span class="lines"></span>
        <span class="lines"></span>
    </div>

    <ul id="nav-links">
        <!-- <i class="bx bx-menu" id="menu-icon"></i> -->
        <!-- <img src="/images/gec.png" alt="gec" class="links"> -->
        <li><a href="/" class="links">Home</a></li>
        <li><a href="/players" class="links">Players</a></li>
        <li><a href="/teams" class="links">Teams</a></li>
        <li><a href="/about" class="links">About</a></li>
        <li><a href="/contact" class="links">Contact</a></li>
    </ul>
</nav>