<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="container">
            <%- include('./partials/sidebar.ejs') %>
                <h1>About Us</h1>
                <p>The Sportify is a sports club for students at GEC Bhavnagar. We were founded in [year] and have
                    since grown to become one of the largest and most successful sports clubs on campus.</p>
                <p>We offer a wide range of sports, including [list of sports]. We also have a strong focus on
                    developing our athletes both on and off the field. We offer a variety of training programs, as well
                    as academic support and mentorship.</p>
                <p>We are proud to be a part of the GEC Bhavnagar community. We are committed to providing our athletes
                    with the opportunity to compete at a high level, while also developing their character and
                    sportsmanship.</p>
                <p>If you are interested in joining our club, please visit our website or contact us at [email address].
                </p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>