<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>