<link rel="stylesheet" href="/css/style.css">

<div class="form-container form-short">
    <h1 class="form-header">Player Team Registration</h1>
    <form action="/aplayers" method="post" clas="inputcontainer">
        <input class="form-input" type="text" id="username" name="username" placeholder="username"><br><br>
        <input class="form-input" type="password" id="password" name="password" placeholder="password"><br><br>
        <input type="submit" class="form-submit">
    </form>
</div>
