<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container homepage">
        <%- include('./partials/sidebar.ejs') %>
        <div class="form-container">
            <h1 class="form-header">Player Registration</h1>
            <form action="/register" method="post" class="inputContainer">
                <input class="form-input" type="text" name="fullname" placeholder="Full Name" required><br><br>
                <input class="form-input" type="tel" name="phone" placeholder="Contact Number" maxlength="10" minlength="10" onblur="if (!validateMobileNumber(this)) this.value=''" required><br><br>
                <select name="branch" id="branch" class="select-field dropDown-menu" required>
                    <option class="option-field" value="" selected>Branch</option>
                    <option class="option-field" value="it">Information Technology</option>
                    <option class="option-field" value="ec">Electronics & Communication</option>
                    <option class="option-field" value="cse">Computer Engineering</option>
                    <option class="option-field" value="civil">Civil Engineering</option>
                    <option class="option-field" value="mech">Mechanical Engineering</option>
                    <option class="option-field" value="ict">Information Communication Technology</option>
                    <option class="option-field" value="prod">Production Engineering</option>
                </select>
                <select name="semester" id="sem" class="select-field" required>
                    <option class="option-field" class="option-field" value="" selected>Semester</option>
                    <option class="option-field" class="option-field" value="2">2nd</option>
                    <option class="option-field" class="option-field" value="4">4th</option>
                    <option class="option-field" class="option-field" value="6">6th</option>
                    <option class="option-field" class="option-field" value="8">8th</option>
                </select><br><br>
                <h3>Your Designation</h3>
                <select id="batsman" name="batsman" class="select-field">
                    <option class="option-field" class="option-field" value="" selected>Batsman</option>
                    <option class="option-field" class="option-field" value="left hand batsman">Left Hand Batsman</option>
                    <option class="option-field" class="option-field" value="right hand batsman">Right Hand Batsman</option>
                </select>
                <select name="bowler" id="bowler" class="select-field" >
                    <option value="">Bowler</option>
                    <option class="option-field" value="left arm fast">Left Arm Fast</option>
                    <option class="option-field" value="right arm fast">Right Arm Fast</option>
                    <option class="option-field" value="right arm off spin">Right Arm Off Spin</option>
                    <option class="option-field" value="right arm leg spin">Right Arm Leg Spin</option>
                    <option class="option-field" value="left arm orthodogs">Left Arm Orthodogs</option>
                    <option class="option-field" value="chinaman">Chinaman</option>
                </select>
                <select id="wk" name="wk" class="select-field">
                    <option class="option-field" value="">Wicket Keeper</option>
                    <option class="option-field" value="wicket keeper batsman">Wicket Keeper Batsman</option>
                    <option class="option-field" value="wicket keeper bowler">Wicket Keeper Bowler</option>
                </select>
                <select name="other" id="other" class="select-field">
                    <option class="option-field" value="">Other</option>
                    <option class="option-field" value="only fielder">Only Fielder</option>
                </select><br><br>
                <button type="submit" class="form-submit">Register</button>
                <a href="/admin">Admin</a>
            </form>   
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>