<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <h2 class="center">Sent Succesfully</h2>
  </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>