<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <section class="team" id="team">
            <h2 class="heading">Sportify Premier League</h2>
            <h3 class="smallheading">Teams</h3>

            <div class="team-container">
                <div class="team-box">
                    <img src="/images/team1.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 1</h4>
                        <p>Shyambhai Gohil</p>
                        <a href="/team/team1"><box-icon name='link-external'></box-icon></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team2.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 2</h4>
                        <p>ladjfl sdjal</p>
                        <a href="/team/team2"><box-icon name='link-external'></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team3.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 3</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team3"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team4.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 4</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team4"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team5.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 5</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team5"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team6.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 6</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team6"><box-icon name='link-external'></i></a>
                    </div>
                </div>
                <div class="team-box">
                    <img src="/images/team1.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 7</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team7"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team2.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 8</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team8"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team3.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 9</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team9"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team4.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 10</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team10"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team5.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 11</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team11"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team6.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 12</h4>
                        <p>Lorem ipsum</p>
                        <a href="/team/team12"><box-icon name='link-external'></i></a>
                    </div>
                </div>
                <div class="team-box">
                    <img src="/images/team1.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 13</h4>
                        <p>Lorem ipsum</p>
                        <a href="team/team13"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team2.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 14</h4>
                        <p>Lorem ipsum</p>
                        <a href="team/team14"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team3.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 15</h4>
                        <p>Lorem ipsum</p>
                        <a href="team/team15"><box-icon name='link-external'></i></a>
                    </div>
                </div>

                <div class="team-box">
                    <img src="/images/team4.png" alt="team1">
                    <div class="team-layer">
                        <h4>Team 16</h4>
                        <p>Lorem ipsum</p>
                        <a href="team/team16"><box-icon name='link-external'></i></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>